.main {
    background: #f5f5f5;
    padding: 22px 0;
}

.banner3 {
    display: block;
    background: red;
}



.banner3 img {
    width: 100%;
    display: block;
}

.sc {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;

}

.sc-title {
    font-size: 22px;
    font-weight: normal;
}

.sc-more .iconfont {
    background: #aaa;
    width: 20px;
    height: 20px;
    display: inline-block;
    line-height: 20px;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    /* vertical-align: -2px; */
}

.sc-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 58px;
    line-height: 58px;
}

.sc-item-first {
    /* display: ; */
    width: 234px;
    height: 614px;
    margin-right: 14px;
    /* margin-top: 100px; */
}

/* .sc-container {
    margin-top: 100px;
} */

.sc-item-first img {
    width: 100%;
    height: 100%;
}

.sc-item-list {
    display: flex;
    flex-wrap: wrap;
    width: 978px;
}

.sc-item {
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    align-items: center;
    flex-wrap: wrap;
    background: #fff;
    margin-right: 14px;
    margin-bottom: 14px;
    width: 234px;
    height: 300px;
    text-align: center;
}

.sc-container {
    display: flex;
    width: 1226px;
    height: 628px;
}

.sc-item p {
    width: 234px;
}

.sc-item img {
    width: 160px;
    height: 160px;
    margin-top: 20px;
}

.sc-name {
    margin-top: 20px;
    color: #333;
}

.sc-desc {
    font-size: 12px;
    color: #b0b0b0;
    margin-top: 3px;
    margin-bottom: 10px;
}

.sc-price {
    color: #ff6700;
}

.sc-item:nth-child(4n) {
    margin-right: 0;
}